<!--<style>
  h3, h4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }

</style>
<p>THIS WEBSITE IS WIP</p>
    <ul>
     <li><h3>Avatar: </h3><img src="https://www.gravatar.com/avatar/<%= user.emailmd5 %>>?d=retro"></img></li> 
     <li><h3>Username: </h3><h4><%= user.name %></h4></li>
     <li><h3>User email: </h3><h4><%= user.email %></h4></li>
     <li><h3>Date of creation: </h3><h4><%= user.date %></h4></li>
    </ul> -->
<style>
#dashboard-container {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 98%;
  padding: 10px;
  width: 98%;
  text-align: center;
}
h3, h4 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
  }
</style>
    <div id="dashboard-container">
      <div class="title">Dashboard</div>
      <div class="subtitle">Profile information</div>
      <section id="userinfo">
        <ul>
          <li><h3>Avatar: </h3><img src="https://www.gravatar.com/avatar/<%= user.emailmd5 %>>?d=retro"></img></li> 
          <li><h3>Username: </h3><h4><%= user.name %></h4></li>
          <li><h3>User email: </h3><h4><%= user.email %></h4></li>
          <li><h3>Date of creation: </h3><h4><%= user.date %></h4></li>
         </ul>
        </section>
    </div>

